body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, a:hover {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 991px) {
  h3.filter-header {
    font-size: 1.3rem
  }
}

.flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #345578; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 160px auto;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.shadowed1 {
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.grow1 { transition: all .9s ease-in-out; z-index: 9; }
.grow1:hover { transform: scale(1.5); z-index: 2;}

#list-container .card {
  border: none;
  background: transparent;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

#list-container .card:hover {
  z-index: 9;
  background-color: #fff;
}

#list-container .card:hover::after {
    opacity: 1;
}

.filter-header {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-indicator {
  right: 0px;
  cursor: pointer;
}

.js-indicator-arrowup {
  top: -2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.js-indicator-arrowdown {
  top: 2px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.scene {
  width: 200px;
  height: 260px;
  perspective: 600px;
}
.gamecard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.gamecard__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.gamecard__face--front {
  background: red;
}

.gamecard__face--back {
  background: blue;
  transform: rotateY( 180deg );
}
.gamecard.is-flipped {
  transform: rotateY(180deg);
}
.gamecard { transform-origin: center right; }
.gamecard.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.pagination {
  flex-flow: wrap;
}

#filter-bar ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s; 
}
#filter-bar div:hover ul {
  overflow: hidden;
  height: auto;
  max-height: 1000px;
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s; 
}

/* animations */
.scale-up-swing:hover {
	-webkit-animation: scale-up-swing 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
          animation: scale-up-swing 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
          z-index: 9;
}
.scale-up-swing{
  	-webkit-animation: scale-up-swing-out 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
          animation: scale-up-swing-out 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
          z-index: 8;
}

 @-webkit-keyframes scale-up-swing {
  0% {
    -webkit-transform: scale(1) rotate(1deg) translateZ(0);
            transform: scale(1) rotate(1deg) translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(1.4) rotate(0deg) translateZ(50px);
            transform: scale(1.4) rotate(0deg) translateZ(50px);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
  }
}
@keyframes scale-up-swing {
  0% {
    -webkit-transform: scale(1) rotate(1deg) translateZ(0);
            transform: scale(1) rotate(1deg) translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(1.4) rotate(0deg) translateZ(50px);
            transform: scale(1.4) rotate(0deg) translateZ(50px);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
  }
}

@-webkit-keyframes scale-up-swing-out {
  0% {
    -webkit-transform: scale(1) rotate(2deg) translateZ(50px);
            transform: scale(1) rotate(2deg) translateZ(50px);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateZ(0);
            transform: scale(1) rotate(0deg) translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes scale-up-swing-out {
  0% {
    -webkit-transform: scale(1) rotate(2deg) translateZ(50px);
            transform: scale(1) rotate(2deg) translateZ(50px);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateZ(0);
            transform: scale(1) rotate(0deg) translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}